#container {
    display: flex;
    justify-content: center;
}

#information-container {
    margin-top: 50px;
    height: max-content;
    padding-right: 100px;
}

#title-product {
    font-family: system-ui;
    width: max-content;
    text-align: center;
    padding: auto;
    margin-bottom: 30px;
}

#description {
    width: 325px;
    margin-bottom: 75px;
}

#description ul, h4 {
    font-family: system-ui;
    text-align: left;
}
#description ul {
    padding-left: 20px;
}

#description ul li {
    font-family: system-ui;
    margin-bottom: 7px;
}


#title-product-data {
    font-size: 28px;
    font-family: system-ui;
    margin-bottom: 30px;
}

#column {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#row {
    justify-content: center;
}

#input-data {
    font-family: system-ui;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    width: max-content;
}

#input-data input {
    height: 40px;
    width: 300px;
    font-size: 14px;
    font-family: system-ui;
    border-radius: 5px;
    border: 1px solid rgb(190, 189, 189);
    text-transform:uppercase;
}

#input-data input::placeholder {
    text-transform: none;
}

#input-data input:focus {
    outline: none !important;
    border:1px solid rgb(255, 254, 254);
    box-shadow: 0 0 10px #719ECE;
}

#select-input {
    text-transform: uppercase;
    height: 40px;
    width: 308px;
    font-size: 14px;
    font-family: system-ui;
    border-radius: 5px;
    border: 1px solid rgb(190, 189, 189);
}

#select-input:focus {
    outline: none !important;
    border:1px solid rgb(255, 254, 254);
    box-shadow: 0 0 10px #719ECE;
}

#btn {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

button, #button {
    width: 200px;
    height: 50px;
    background-color: #ffc107;
    border-radius: 10px;
    border: 0px transparent;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

span {
    font-size: larger;
    color: rgb(97, 90, 57);
    font-weight: 600;
    font-family: system-ui;
}

#btn-next {
    margin-bottom: 10px;
    padding-left: 100px;
    align-self: flex-end;
}

#btn-next :hover {
    background-color: rgb(206, 206, 206);
}

#btn :hover {
    background-color: rgb(206, 206, 206);
}
