<form [formGroup]="saleFormGroup" (ngSubmit)="saleProcess()">

<div id="container">

    <div id="information-container">
        <div id="title-product">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h4>Descripcion de producto</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn">
            <span id="button" (click)="annuled()">Anular expediente</span>
        </div>
    </div>

    <div id="form-container">
        <div id="title-product-data">
            <p>Configuracion de producto</p>
        </div>

        <form [formGroup]="evaluationFormGroup" (ngSubmit)="creditEvaluation()">
            <div id="column">
                <div id="row">
                    <div id="input-data">
                        <div>
                            <label for="">Linea de tarjeta</label>
                        </div>
                        <div>
                            <input type="number" name="" id="name" placeholder="Linea de tarjeta" required formControlName="creditLine">
                        </div>
                    </div>
                    <div id="input-data">
                        <div>
                            <label for="">Monto ofrecido</label>
                        </div>
                        <div>
                            <!-- <input type="text" name="" id="" placeholder="Monto ofrecido" [formControl]="offerAmount"> -->
                            <label id="output">{{ offerAmount }}</label>
                        </div>
                    </div>
                </div>
                <div id="row">
                    <div id="input-data">
                        <div>
                            <label for="">Monto solicitado</label>
                        </div>
                        <div>
                            <input type="number" name="" id="" placeholder="Monto solicitado" formControlName="requestedAmount">
                        </div>
                    </div>
                </div>
                <div id="row">
                    <div id="btn">
                        <button><span>Evaluar</span></button>
                    </div>
                </div>
            </div>
        </form>

        <form [formGroup]="simulationFormGroup" (ngSubmit)="creditSimulation(offerAmount)">
        <div id="column">
            <div id="row">
                <div id="input-data">
                    <div>
                        <label for="">Monto ofrecido</label>
                    </div>
                    <div>
                        <!-- <input type="text" name="" id="name" placeholder="Monto ofrecido" > -->
                        <label id="output">{{ offerAmount }}</label>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="input-data">
                    <div>
                        <label for="">Cuotas de pago</label>
                    </div>
                    <div>
                        <select id="select-input" name="select" formControlName="quotas">
                            <option value="value1" disabled selected hidden>Seleccione</option>
                            <option [value]="term1"> cuota: {{ term1 }} </option>
                            <option [value]="term2"> cuota: {{ term2 }} </option>
                            <option [value]="term3"> cuota: {{ term3 }} </option>
                            <option [value]="term4"> cuota: {{ term4 }} </option>
                            <option [value]="term5"> cuota: {{ term5 }} </option>
                            <option [value]="term6"> cuota: {{ term6 }} </option>
                        </select>
                    </div>
                </div>

            </div>
            <div id="row">
                <div id="btn">
                    <button ><span>Simular</span></button>
                </div>
            </div>
        </div>
        </form>

        <div id="column">
            <div id="row">
                <div id="input-data">
                    <div>
                        <label for="">Cuenta a desembolsar</label>
                    </div>
                    <div>
                        <select id="select-input" name="select" formControlName="account">
                            <option value="value1" disabled selected hidden>Seleccione</option>
                            <option value="Nueva">Nueva</option>
                            <option value="Existente">Existente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="input-data">
                    <div>
                        <label for="">Nro. de cuenta</label>
                    </div>
                    <div>
                        <select id="select-input" name="select" formControlName="accountNumber">
                            <option [value]="account0">Seleccione cuenta</option>
                            <option [value]="account1"> {{account1}} </option>
                            <option [value]="account2"> {{account2}} </option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

     


    <div id="btn-next">
        <!-- <button (click)="processSale()"><span>Solicitar</span></button> -->
        <button ><span>Solicitar</span></button>
    </div>

</div>

</form>