<div id="container">
    <form [formGroup]="loginForm" (ngSubmit)="validateCredentials()">
        <div id="login">
            <div id="image">
                <img src="../../../assets/img/login-logo.png" alt="">
            </div>
            <div id="input-user">
                <input type="text" placeholder="Usuario" formControlName="username">
            </div>
            <div id="input-password">
                <input type="password" placeholder="Contraseña" formControlName="password">
            </div>
            <div id="btn-login">
                <button type="submit"><span>Iniciar sesión</span></button>
            </div>
        </div>
    </form>
</div>