<p>login works!</p>


<div id="container">
    <div id="login">
        <div id="image">
            <img src="src\assets\img\login-logo.png" alt="">
            <p>Imagen</p>
        </div>
        <div id="input-user">
            <input type="text" placeholder="Usuario">
        </div>
        <div id="input-password">
            <input type="password" placeholder="Contraseña">
        </div>
        <div id="btn-login">
            <button><span>Iniciar sesion</span></button>
        </div>
    </div>
</div>