<div id="container">

    <div id="information-container">
        <div id="title-product">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h4>Descripcion de producto</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
    </div>

    <div id="sale-container">
        <div>
            <p id="title-sale-data">Resumen</p>
        </div>

        <div id="column">
            <div id="row">
                <div id="header-data">
                    <div>
                        <label for="">Nombre completo</label>
                    </div>
                </div>
            </div>
            <div id="row" style="width: max-content;">
                <div id="">
                    <div>
                        <p style="margin-top: auto;">Marco Aurelio Polo Campos Campos</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="column">
            <div id="row">
                <div id="header-data">
                    <div>
                        <label for="">Datos de tarjeta</label>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">Nro. de tarjeta</label>
                    </div>
                    <div>
                        <p>123456789</p>
                    </div>
                </div>
                <div id="">
                    <div>
                        <label for="">Linea de tarjeta</label>
                    </div>
                    <div>
                        <p>S/ 50000.00</p>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">Marca - Tipo</label>
                    </div>
                    <div>
                        <p>Visa - Signature</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="column">
            <div id="row">
                <div id="header-data">
                    <div>
                        <label for="">Detalles del credito</label>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">Monto a desembolsar</label>
                    </div>
                    <div>
                        <p>S/ 25000.00</p>
                    </div>
                </div>
                <div id="">
                    <div>
                        <label for="">Tipo de desembolsar</label>
                    </div>
                    <div>
                        <p>Abono en cuenta</p>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">TEA</label>
                    </div>
                    <div>
                        <p>18.00%</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="column" style="border-bottom: 1px solid #719ECE">
            <div id="row">
                <div id="header-data">
                    <div>
                        <label for="">Detalles de pago</label>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">Cuota mensual</label>
                    </div>
                    <div>
                        <p>S/ 2500.00</p>
                    </div>
                </div>
                <div id="">
                    <div>
                        <label for="">Fecha de pago</label>
                    </div>
                    <div>
                        <p>15 de cada mes</p>
                    </div>
                </div>
            </div>
            <div id="row">
                <div id="">
                    <div>
                        <label for="">Plazo</label>
                    </div>
                    <div>
                        <p>12 meses</p>
                    </div>
                </div>
            </div>
        </div>



    </div>

    


    <div id="btn-next">
        <button routerLink="/dashboard"><span>Regresar a dashboard</span></button>
    </div>

</div>