<p>dashboard works!</p>

<div id="container">
    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="" alt="">
            <p>IMAGEN</p>
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div>
</div>