#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    align-items: center;
    justify-content: center;
    margin: 30px 75px 30px 75px;
}

#card {
    border-radius: 18px;
    background-color: rgb(14, 51, 96);
    padding: 30px 30px 60px 30px;
    width: max-content;
    height: max-content;
    align-content: center;
    margin: 50px 50px 50px 50px;
}

#image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#image img {
    width: 170px;
    height: 170px;
}

#title {
    color: whitesmoke;
    width: max-content;
    text-align: center;
    padding: auto;
    margin-bottom: 30px;
    font-family: system-ui;
}

#description {
    color: whitesmoke;
    width: 225px;
    margin-bottom: 75px;
    font-family: system-ui;
}

#description ul, h4 {
    text-align: left;
    font-family: system-ui;
}
#description ul {
    padding-left: 20px;
}

#description ul li {
    color: whitesmoke;
    margin-bottom: 7px;
}

#btn-get {
    display: flex;
    justify-content: center;
}

#btn-get button {
    width: 200px;
    height: 50px;
    background-color: #ffc107;
    border-radius: 10px;
    border: 0px transparent;
}

#btn-get :hover {
    background-color: rgb(206, 206, 206);
}

#btn-get span {
    font-size: larger;
    color: rgb(97, 90, 57);
    font-weight: 600;
    font-family: system-ui;
}