<app-header></app-header>

<div id="container">


    <div id="card" style="border: 10px;" >
        <div id="image">
            <img src="../../../assets/img/login-logo.png" alt="">
        </div>
        <div id="title">
            <h2>{{ title }}</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul >
                <li>{{ freeField1 }}</li>
                <li>{{ freeField2 }}</li>
                <!-- <li>Ultima fecha: {{ freeField3 }}</li> -->
                <!-- <li>Ultima fecha: {{ freeField4 }}</li> -->
            </ul>
        </div>
        <div id="btn-get">
            <button (click)="generateExpedient('CREDITO_HIPOTECARIO')"><span>Obtener producto</span></button>
        </div>
    </div>

    <div id="card" style="border: 10px;">
        <div id="image">
            <img src="../../../assets/img/login-logo.png" alt="">
        </div>
        <div id="title">
            <h2>{{ titlex }}</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>{{ freeField1x }}</li>
                <li>{{ freeField2x }}</li>
            </ul>
        </div>
        <div id="btn-get">
            <button (click)="generateExpedient('CREDITO_VEHICULAR')"><span>Obtener producto</span></button>
        </div>
    </div>

    <!-- <div id="card" style="border: 10px;">
        <div id="image">
            <img src="../../../assets/img/login-logo.png" alt="">
        </div>
        <div id="title">
            <h2>Credito Hipotecario</h2>
        </div>
        <div id="description">
            <h3>Descripcion de producto</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet con sectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="btn-get">
            <button><span>Obtener producto</span></button>
        </div>
    </div> -->

</div>